--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0
torchvision==0.22.0 # Compatible with torch 2.7.x
torchaudio==2.7.0  # Compatible with torch 2.7.x
torchdata==0.7.1 # Compatible with recent torch versions

# For MLflow (experiment tracking)
mlflow

# For Streamlit (web app)
streamlit

# For Hugging Face Hub
huggingface_hub
datasets

# For BLEU score calculation (benchmarking)
sacremoses
torchmetrics

# Added spacy itself
spacy

portalocker>=2.0.0